#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  line-height: 160px;
  background: #3e8b5c;
  background-image: url("/public/image/concert.jpg");
  overflow: hidden;
  margin:10;
  padding:0;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}