/* COLORES:
Azul: #41A8F8
Café: rgb(109, 68, 7)
Verde: #A7D14A
*/

*{
  font-family: 'ABeeZee', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Botones Eventia*/
.btnEventia{
  background-color: rgb(0, 0, 78) !important;
  color:white !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.btnEventia2{
  background-color: rgb(82, 50, 3) !important;
  color:white !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

/* Página de inicio */
#cta {
  position: relative;
  text-align: center;
  top: 17vh;
  background-color: rgba(30, 39, 4, 0.658);
  width:65%;
  height: 25%;
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  margin-top: 9%;
  z-index: 1;
} 

#cta h2 {
  font-weight: 700;
  color: #FFF;
  font-size: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 16px;
  text-shadow: 0 3px 6px rgba(0,0,0,.3);
  line-height: 1;
  letter-spacing: 1px;
}

#cta h4 {
  font-weight: 500;
  color: #FFF;
  font-size: 18px;
  text-shadow: 0 3px 6px rgba(0,0,0,.3);
}

#cta .button {
  font-size: 24px;
  padding: 6px 20px;
}

.button-green {
  background: #A7D14A ;
  color: #fff;
  text-shadow: none;
}
.button {
  border: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: black;
}

.button:hover{
  color:black;
  background-color:#abdaad;
}

#cta h4 {
  font-weight: 500;
  color: #FFF;
  font-size: 23px;
  text-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.parallax {
  background-color: black;
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

}  

.parallaxUser {
  background-image: url("https://res.cloudinary.com/perlavianey/image/upload/v1539457613/eventia/b1.jpg.jpg");
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:10px;
  width:28%;
  padding:1%;
  border-radius:15px
}  

.parallaxEvento {
  min-height:300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}  

.white{
  position: absolute;
  width: 100.23%;
  left: -3px;
  min-height: 1px;
  user-select: none;
  z-index: 1;
  padding: 3px;
  background-color: #A7D14A;
}

.whitedown{
  position: absolute;
  width: 100.23%;
  left: -3px;
  min-height: 1px;
  margin-top: -70px;
  user-select: none;
  z-index: 1;
  padding-bottom: 5%;
}

.flip {
  transform: rotate(180deg);
}
.nube{
  background-image: url("/src/images/nube.svg");
  min-height:5vh;
  width:100%;
}

/* Sesión */
.eventosList{
  color:black;
  font-weight: bold;
  margin-top:20px;
  padding-left: 5%;
}

.login{
  margin-top:5%;
  margin-bottom:12%;
}

.sesion{
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}

.iconSesion{
  color: rgb(109, 68, 7)
}

.iconSesion:hover{
  color:#A7D14A;
}

/* Barra de navegación */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:12vh;
  margin-top: 0; 
}

.logoImg{
  width:75%;
  max-width:300px;
  margin-left:50%;
  top:10px;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
}

.navbar li {
  margin-top:0%;
  margin-bottom:0%;
  padding:9px 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: rgb(109, 68, 7);
  font-size: 15px;
}

.navbar li:hover {
  color:black;
  background-color:#A7D14A;

}

.navbar ul:nth-child(2) {
  margin-right: 100px;
  
}
.menuitem{
  color:white;
  text-align: center;
  font-weight: bold;
  margin-right:25px;
  margin-left:25px;
  margin-top: 0;
}

/* Contenido */
.content{
  margin:0;
  align-items: center;
  align-content: center;
}

.contentInicio{
  margin:0;
}

.contentProfile{
  margin:0;
  margin-bottom:11%;
}

/* Footer */
.footer {
  padding:2%;
  color: black;
  font-weight: bold;
  left:0px;
  bottom:0px;
  width:100%;
  background:rgb(146, 184, 64) ;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Eventos */
.father{
  margin-top: 5%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fatherArticle{
  margin-top: 1%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imgMainDetail{
  width:100%;
  height:5%;
  background-color: rgb(51, 34, 2);
  text-align: center;
}

.imgMainDetail img{
  width:60%;
  height: 400px;
}

.eventDetail{
  padding-bottom: 3%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  width:80%;
  margin:auto;
}

.detail{
  width:50%;
  text-justify: auto;
  padding-right:30px;
}
.descDetail{
  display: flex;
  flex-direction: row;
  width:100%;
}

.descDetail h4{
  font-size: 18px;
}

.infoDetail{
  width:90%;
}

.descDetail h5{
  font-size: 14px;
  text-align: justify
}

.icon{
  width:10%;
  text-align: center;
  display:flex;
  justify-content: center;
  margin-right: 25px;
  margin-left: 5px;
}

.icon i{
  color: navy;
  font-size: 30px;
  padding-top:7px;
}

.stylehr {
  border-top: 1px dotted #8c8b8b;
}

.eventTitle {
  font-size: 18px;
  border-radius: 5px;
  background-color:rgba(166, 209, 74, 0.904);
  color: white;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 70%;
  top:-30px;
  position: relative;
  margin-bottom: 25px;
}

.eventTitle h2{
  color:black;
  font-weight: bold;
}

.compraBoletos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(240, 240, 238, 0.993);
  width: 20%;
}

.cbButton{
  text-align: center;
}

.eventCard{
  margin-left:30px !important;
  margin-right:30px !important;
  margin-bottom:30px !important;
  margin-top:1% !important;
  text-align: center;
  width:20vw !important;
  min-height: 400px !important;
  border:2px solid rgba(0, 0, 0, 0.473) !important;
}

.ant-card-meta-title {
  white-space: normal !important;
  text-align: center !important;
  min-height: 43px !important;
  max-height: 43px !important;  
}

.ant-card-head{
  min-height: 80px !important;
  max-height: 80px !important;
  border-radius: 1px !important;
  background-color: rgba(49, 31, 3, 0.849) !important;
  color:white !important;
}

.ant-card-head-title{
  white-space: normal !important;
  margin:0 !important;
  display: block !important;
  font-weight: bold !important;
}

.eventCard img{
  width:100%;
  height:200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Usuario */
.userCard{
  margin-left:auto !important;
  margin-right:auto !important;
  margin-bottom:30px !important;
  margin-top:1% !important;
  text-align: center;
  border:2px dashed rgb(109, 66, 2) !important;
  border-radius: 5% !important ;
}

.userCard img{
  width:100px;
  height:200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Artículos */
.newEvent{
  width:40%;
  padding: 3%;
  border:5px dotted black;
}

.newArticle{
  width:40%;
  padding: 3%;
  border:5px dotted black;
}

.title{
  background-color: #A7D14A;
  padding: 1.5%;
  width:40%;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
}

.titleMain{
  background-color: #A7D14A;
  padding: 1%;
  width:100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.titleMain2{
  padding:1%;
  margin-bottom: 2%;
  background-color: #A7D14A;
  width:100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.titleMain3{
  margin-top: 1.5%;
  margin-bottom: 2%;
  background-color: #A7D14A;
  width:100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding:10px;
}

.titleLogin{
  background-color: #A7D14A;
  padding: 1.5%;
  width:42.5%;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
}

.eventPadre{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center
}

.eventPadreOrganizer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: rgba(240, 240, 238, 0.993);

}

/* Compra */

.ant-steps-item-icon{
  background:navy!important;
  color:white !important;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

.btnCreateEvent{
  display:flex;
  justify-content: center;
}

.panel{
  background-color: #A7D14A;
  width:70%; 
  margin: auto;
  margin-bottom:40px;
  border-radius: 10px;
  font-size:18px;
  padding:5px;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.panel h1{
  margin-top: 0;
  margin-bottom: 0;
}

.panelMisCompras{
  width:80%;
}

.adminEvento{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 20%;
  height: 200px;
  margin-top:80px;
  border-radius: 10px;
}

#filter{
  font-size: 20px;
  width:'80%';
  padding:3px;
  font-stretch: expanded;
}

.filtro{
  background-color: #abdaad63;
  padding:2px;
  color:black;
  width:100%;
  margin:0 auto;
  padding-top:15px;
  padding-top:30px;
}
.ant-select-selection{
  border-radius: 30px !important;
  background-color: rgba(250, 250, 250, 0.849) !important;
  padding-left:20px !important;
  font-weight: bold !important;
}

.tituloInicio{
  background-color: #A7D14A;
  padding-top: 8px;
  padding-bottom: 0.1px;
  width:100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.tituloInicio>h4{
  font-size: 23px;
}

.newCompra{
  font-size:18px;
}

#cto { 
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
}

#noBoletos{
  text-align: right;
}

.myEvent{
  width: 30vw;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 15px;
  margin:5px;
  margin-bottom:25px;
  min-height: 17vw;
  background-color: #eef5ebe7;
  color:black;
}

.myEvent img{
  width:110px;
  height:100px;
  border-radius: 30%;
  float: left;
  margin:10px;
  margin-right: 10px;
  border:2px solid rgb(70, 43, 4);
}

.myEvent h3{
  background-color: rgb(109, 68, 7) ;
  color:white;
  padding:3px 0;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  width:95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.folio{
  text-transform: uppercase;
}

.cuentaOrden{
  text-align: right;
}

.myOrder{
  text-align: center;
  width: 50vw;
  padding: 10px;
  border: 2px dashed black;
  border-radius: 15px;
  margin:5px;
  min-height: 29vw;
  background-color: #eef5ebe7;
}

.myOrder h5{
  text-transform: uppercase;
}

.myOrder img{
  width:250px;
  height:200px;
  border-radius: 30%;
  margin:10px;
  margin-right: 10px;
  border:2px solid rgb(70, 43, 4);
}

.myOrder h2{
  background-color: rgb(109, 68, 7) ;
  color:white;
  padding:3px 0;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  width:95%;
  margin: 0 auto;
  margin-bottom: 10px;
}